<!doctype html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1>Are you sure?</h1>
                <form method="post">
                    {% csrf_token %}
                    <button>Delete</button>
                 </form>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
